<table class="table">
  <thead>bowling sheet</thead>
  <tbody>
  <tr>
 <td>
   <button>0</button>
   <button>1</button>
   <button>2</button>
   <button>3</button>
   <button>4</button>
   <button>5</button>
   <button>6</button>
   <button>7</button>
   <button>8</button>
   <button>9</button>
   <button>10</button>
 </td>
  </tr>
  </tbody>
</table>

<table class="scoring">
  <tbody>
  <tr>
    <td >1</td>
    <td >2</td>
    <td >3</td>
    <td >4</td>
    <td >5</td>
    <td >6</td>
    <td >7</td>
    <td >8</td>
    <td >9</td>
    <td >10</td>
  </tr>
  <tr>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button></td>
  </tr>
  <tr>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button><button>&nbsp;</button></td>
    <td><button>&nbsp;</button></td>
  </tr>
  </tbody>
</table>
